.div_one
 {
   font-size:150%;
   font-weight:bold;
   
 }

.reminders
{
  width:100%;height:100%;
  background-color:#00A300;
}

.reminders:hover
{
  background-color:#33B633;
}


 
 .pending
 {
   width:100%;height: 100%;
   background-color:#EB3C00;
 }
 
.pending:hover
{
  background-color: #f44336;
}

.online
{
  width:100%;height:100%;
  background-color:#9F00A7;
}
.online:hover
{
  background-color:#B233B9;
}


.tasks
{
  width:100%;height:100%;
  background-color:#2D2E2F;
}

.tasks:hover
{
  background-color: #3c3f42;
}




.leftPanel
{
  width:0px;height:0px;float:left;
}

.buttonRed
{
 background-color:#EB3C00;

 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;

 cursor: pointer;
 width:100%;           
}

.buttonRed:hover
{
    background-color: #f44336;         
}


.buttonGreen
{
 
 background-color:#00A300; 
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;

 cursor: pointer;
 width:100%;           
}

.buttonGreen:hover
{
  background-color:#33B633;           
}


.buttonBlack
{
 
 background-color:#2D2E2F;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;

 cursor: pointer;
 width:100%;           
}

.buttonBlack:hover
{
   background-color: #3c3f42;           
}


.buttonBlue
{
 
 background-color:#176ab7;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;

 cursor: pointer;
 width:100%;           
}

.buttonBlue:hover
{
   background-color:#3278BC;           
}

.buttonViolate
{

    background-color:#9F00A7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    width:100%;
}

.buttonViolate:hover
{
    background-color:#B233B9;
}

.nopadding
{
    margin: 0;
    padding: 0;
}